.image {
    width: 400px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    position:relative;
    top:10px;
    border: 5px dotted rgb(225, 136, 0);
    border-left: 5px solid rgb(225, 136, 0);
    border-right: 5px solid rgb(225, 136, 0);
}

.ContentBlock {
    display:block;
    /*box-shadow: 20px 20px 50px 15px rgb(0, 0, 0);*/
    border: 30px double rgb(255, 136, 0);
    width:auto;
    height: auto;
    /*padding: 50px;*/
    justify-content: center;
    background-color: rgb(0, 0, 0);
    margin: 50px 200px;
}

.FormatHeader {
    text-align: center;
    font-family: 'Monoco', monospace;
    color: rgb(255, 230, 0);
    position: relative;
    top: 5px;
    font-size: 60px;
}

.FormatTitle {
    text-align: center;
    font-family: 'Monoco', monospace;
    color: rgb(255, 230, 0);
    position: relative;
    top: 5px;
}

.FormatText {
    text-align: center;
    font-family: 'Monaco', monospace;
    color: rgb(255, 255, 255);
    position: relative;
    bottom: 20px;
    padding: 0px 100px 0px 100px;
}

.PageTitle{
    text-align: center;
    font-family: 'Times New Roman', monospace;
    color:rgb(0, 0, 0);
    position: relative;
    top: 5px;
    /*font-size: 80px;*/
    background-color: rgb(225, 136, 0);
    border-bottom: 20px dotted rgb(0, 0, 0);
    margin: 50px 200px;
    padding: 20px
}

.Main{
    background-color: rgb(59, 59, 59);
    margin: 5px 0px 0px 0px;
}

.FormatFooter{
    text-align: left;
    font-family: 'Times New Roman', monospace;
    color:rgb(0, 0, 0);
    position: relative;
    top: 5px;
    font-size: 20px;
    background-color: rgb(255, 136, 0);
    border-bottom: 20px dotted rgb(0, 0, 0);
    margin: 50px 200px;
    padding: 20px;
}

.LinkHeader{
    color: black;
    font-size: 35px;
}

.LinkPlace{
    color: rgb(255, 230, 0);
    font-size: 35px;
    padding: 20px;
}
