.image {
    width: 400px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    position:relative;
    top:10px;
}

.ContentBlock {
    display:block;
    box-shadow: 0 6px 10px 0 rgb(255, 136, 0);
    width:auto;
    height: auto;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}

.FormatHeader {
    text-align: center;
    font-family: 'Monoco', monospace;
    color: rgb(255, 230, 0);
    position: relative;
    top: 5px;
    font-size: 60px;
}

.FormatTitle {
    text-align: center;
    font-family: 'Monoco', monospace;
    color: rgb(255, 230, 0);
    position: relative;
    top: 5px;
}

.FormatText {
    text-align: center;
    font-family: 'Monaco', monospace;
    color: rgb(255, 255, 255);
    position: relative;
    bottom: 20px;
}

.PageTitle{
    text-align: center;
    font-family: 'Times New Roman', monospace;
    color:rgb(0, 195, 255);
    position: relative;
    top: 5px;
    font-size: 80px;
    background-color: rgb(78, 78, 78);
}

.Main{
    background-color: rgb(78, 78, 78);
}

.FormatFooter{
    text-align: left;
    font-family: 'Times New Roman', monospace;
    color:rgb(0, 195, 255);
    position: relative;
    top: 5px;
    font-size: 20px;
    background-color: rgb(78, 78, 78);
}
